DB_HOST=localhost
DB_PORT=5432
DB_USER=dsk
DB_PASSWORD=dsk
DB_NAME=dsk

DB_URL="jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}"

# Dev settings
spring.devtools.restart.enabled=true
spring.devtools.livereload.enabled=true
#logging.level.root=DEBUG
